body {
  
background-color: lightblue;

color: FFEC01;
  
  p {
  border: 2px solid red;
  border-radius: 5px;
}
  
  
h1 {
  text-align: center;
  }
  
h2 {
  text-align: center;
  }

p {
  text-align: center;
}

  
}
