body {
  
background-color: black;
 
color: yellow;
  
  
h1 {
  text-align: center;
  color: yellow;
  }
  
  h2 {
  text-align: center;
  color: yellow;
  }

p {
text-align: center;
color: yellow;
}

  
}
